{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dawit neri</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'index.css' %}" type="text/css">
</head>
<body>
    <div id="header">
		<div class="container">
      <nav>
				<a  class="logo">Doff n.</a>
				<ul id="sidemenu">
					  <li><a href={% url 'home' %} >Home</a></li>
            <li><a href={% url 'about' %}>About</a></li>
            <li><a href={% url 'service' %}>Services</a></li>
            <li><a href={% url 'work' %}>Work</a></li>
            <li><a class="{% if request.path == '/contact/' %}active{% endif %}">Contact</a></li>
            <i class='bx bx-exit' onclick="closeMenu()"></i>
				</ul>
                <i class='bx bx-menu' id="bx-menu" onclick="openMenu()"></i>
			</nav>
      </div>
      <div id="contact">
        <div class="container">
            <div class="row">
                <div class="contact-left">
                    <h1 class="sub-title">Contact me</h1>
                    <p><i class='bx bxs-envelope'></i>dawitneri888@gmail.com</p>
                    <p><i class='bx bx-phone-call'></i>+251988186840</p>
                    <div class="social-icons">
                        <a href="https://www.linkedin.com/in/dawit-neri-16275a208/" target="_blank"><i class='bx bxl-linkedin'></i></a>
                        <a href="https://twitter.com/doffneri" target="_blank"><i class='bx bxl-twitter'></i></a>
                        <a href="https://t.me/doffn" target="_blank"><i class='bx bxl-telegram'></i></a>
                    </div>
                    <a href="https://drive.google.com/file/d/1TUdFO-8jVR4-NUeUQRAFZPXIH4-e7EEh/view?usp=sharing" target = "_blank" class="btn btn2">Download Cv</a>
                </div>
                <div class="contact-right">
                    <form>
                        <input type="text" name="Name" placeholder="Your Name" required>
                        <input type="text" name="email" placeholder="your Email" required>
                        <textarea name="Message" rows="6" placeholder="Your Message"></textarea>
                        <button type="submit" class="btn btn2">Submit</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="copyright">
            <p>Copyright @ Dawit Neri</p>
        </div>
      </div>
		</div>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<script src="{% static 'index.js' %}" type="text/javascript"></script>
</body>
</html>

